body {
  font-family: 'Inter', sans-serif;
  background-color: #f1f2f1; }

#head {
  width: 612px;
  display: block;
  margin: auto; }

.logo-animado {
  animation: logo 5s 3; }

@keyframes logo {
  50% {
    transform: rotatey(180deg); } }

.divar {
  display: flex;
  justify-content: space-around; }

.menu {
  position: sticky;
  top: 0px; }

.listascss {
  list-style-image: url(../img/vineta4.png); }

.pie {
  background-color: white;
  position: sticky;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px; }

/*ACA USAMOS OPERACIONES*/
.primera .que-es-hidroponia {
  padding-top: 20px; }

.tipos {
  padding-top: 25px; }

.tipos2 {
  padding-top: 80px; }

/*Aca usamos mixins*/
.plantines img {
  width: 100%; }

@media (max-width: 768px) {
  .plantines {
    display: none; } }

.card-title {
  font-weight: bold;
  justify-content: center; }
