@import "variables/variables.scss";



body{
    font-family: 'Inter', sans-serif; 
    background-color: $color-main; 
}

#head{  
  display:block;
  margin:auto;
}

.logo-animado{
    animation: logo 5s 2;
}

@keyframes logo {
    50% {transform:rotatey(180deg) ;   }   
}

 .menu{
 position: sticky;
 top: 0px;

} 


.nav-item{
    padding-left: $separacion10*5;
    padding-right: $separacion10*5;
 }



.listascss {
    list-style-image: url(../img/vineta4.png);

}

.pie {
    background-color: $color-pie;
    position: sticky;
    bottom: 0px;
    padding-left: $separacion10;
    padding-right: $separacion10;

   }



/*ACA USAMOS OPERACIONES*/   
.primera {
    padding-top: $separacion10*2;

}

.marco{
    padding-top: $separacion10*2;
    padding-bottom: $separacion10*2;
    border:3px solid $color-bordes;
    border-radius:22px;
}


.titulo{
    text-align: center;
}

.ventajas{
    padding-left: $separacion10*2;

}

.tipos{
    padding-top: $separacion50/2;
}

.tipos2{
    padding-top: $separacion10*8;
}

.etiqueta-producto{
    background-color: $color-main;
    font-weight: bold;
    border-radius: 22px;
}

/*Aca usamos mixins*/

@mixin caja ($porcentaje){
    width: $porcentaje;
 }

 .plantines{
     img{
        @include caja(100%);
     }
 }


 @media (max-width:768px){
    .plantines{
        display: none;
    }
 }



 .card-title{
     font-weight: bold;
     justify-content: center;
 }

